<Files "composer.json">
    Require all denied
</Files>

<Files "composer.lock">
    Require all denied
</Files>

<Files ~ "^\.htaccess">
    Require all denied
</Files>

Options -Indexes

# Custom Error Pages
ErrorDocument 404 /php/RenderersRealm/error.php
ErrorDocument 403 /php/RenderersRealm/error.php