{% extends "layout.html" %}

{% block header %}
{% include "header.html"%}
{% endblock %}

{% block content %}
<!-- ======= About ======= -->
<div class="about-container">
    <h1>More About Renderer's Realm</h1>

    <div class="about-section">
        <span>
            Welcome to <b>Renderer's Realm, a project that combines AI technology with web design to
            create a platform for seamless image generation</b>. As an undergraduate AI student, this project presented me
            with the opportunity
            to use the theoretical concepts the I have learnt into a meaningful application. By integrating machine
            learning
            into an accessible online interface, Renderer's Realm addresses both technical challenges and user-centric
            design goals, showcasing the potential of merging artificial intelligence with web technologies.
        </span>
        <img src="assets/images/about_img1.png" alt="Renderer's Realm Concept">
    </div>

    <div class="about-section">
        <img src="assets/images/about_img2.png" alt="AI and Web Integration">
        <span>
            Renderer's Realm bridges the gap between AI and web development by embedding AI tools within an
            intuitive platform. <b>The project emphasizes creating a seamless connection between server-side machine
            learning algorithms and client-side interfaces</b>. This dual approach <b>ensures</b> that the platform is not only
            <b>technically strong</b> but also <b>user-friendly</b>. From implementing real-time responsiveness to managing
            large-scale data to utilising multiple means of interactivity.
        </span>
    </div>

    <div class="about-section">
        <span>
            <b>Transparency and user trust are core pillars of this project</b>. In an age of rising concerns about data
            ethics and AI Integrity, <b>this project is committed to minimal data collection and clear communication about
            how the system operates</b>. 
            Users can gain insights into the image generation process, as well as the data saving and retrival processing,
            creating an environment of trust and innovation. This approach was taken to ensure that the platform is not only technically strong but also
            user-friendly. Furthermore, the project has given me the opportunity to explore the potential of AI in web
            design and to test my abilities when it comes to creating a platform that is both innovative and accessible.
        </span>
        <img src="assets/images/about_img3.png" alt="Transparency and User Trust">
    </div>
</div>
<!-- About End -->
{% endblock %}

{% block footer %}
{% include "footer.html"%}
{% endblock %}

{% block backToTop %}
{% include "backToTop.html"%}
{% endblock %}

{% block preloader %}
{% include "preloader.html"%}
{% endblock %}