<!-- ======= Footer ======= -->
<footer class="footer">
    <a href="https://www.um.edu.mt/ict/ai/" target="_blank" class="UoM-link">
        <img class="footer-img" src="assets/images/UoM_AI_Logo.png" title="UoM-AI_Dep-Logo" alt="University of Malta Logo">
    </a>

    <div class="credits">
        <span>
            <b>Study Unit:</b> Generative AI<br>
            <b>Study Unit Code:</b> ARI3333<br>
            <b>Current Year:</b> Year 3 Sem 1 - 2024/2025<br>
            <b>Created by:</b> David Farrugia
        </span>
    </div>
</footer>
<!-- Footer End -->