{% extends "layout.html" %}

{% block header %}
{% include "header.html"%}
{% endblock %}

{% block content %}
<!-- ======= Main ======= -->
<main class="main">
    <div class="chatHistory">
        <div class="chatHistory-header">
            <h1>[ Chat History ]</h1>
            <button class="new-chat">New Chat</button>
        </div>
        <div class="chatHistoryContent">
            <!-- Chat Logs will be dynamically added here -->
            <div class="creationDate">
                <h2 id="creationDate"></h2>
            </div>

            <div class="jsonFiles">
                <ul id="jsonFileList"></ul>
            </div>

        </div>
    </div>

    <div class="chat">
        <div class="chatOut">
            <!-- Centered Icon and Text Initially -->
            <div class="initialContent" id="initialContent">
                <div class="initialIcon">
                    <img src="assets/images/RenderersRealm_Icon1.png" title="Renderer's Realm Icon" alt="Renderer's Realm Icon" />
                </div>
                <div class="initialText">
                    <h1>Renderer's Realm</h1>
                    <span>Powered by FLUX.1-dev</span>
                </div>
            </div>
        </div>

        <!-- Messages will be dynamically added to these divs -->
        <div class="messageContainer" id="userMessageContainer">
            <b>User:</b>
            <div id="userMessage"></div>
        </div>
        <div class="messageContainer" id="aiMessageContainer">
            <div id="aiMessage"></div>
        </div>

        <div class="chatIn">
            <button id="click_to_convert"></button>
            <textarea id="convert_text" placeholder="Write a line, get a design! 🙂"></textarea>
            <button class="chatInputButton"></button>
        </div>
    </div>

    <div class="json-nav-buttons">
        <button class="json-nav-button" id="json-prev"><img src="assets/images/up-arrow-white.png" title="Move Up" alt="arrow pointing up"></button>
        <button class="json-nav-button" id="json-next"><img src="assets/images/up-arrow-white.png" title="Move Down" alt="arrow pointing down"></button>
    </div>
</main>
<!-- Main End -->
{% endblock %}

{% block preloader %}
{% include "preloader.html"%}
{% endblock %}