<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Renderer's Realm</title>
    <!-- Description -->
    <meta name="description" content="ARI3333 - GenerativeAI_Project - Image Generation - Year 3 Sem 1">
    <!-- Author/s -->
    <meta name="author" content="David Farrugia 15004H">
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/css/main.css">
    <!-- Changing Globe Symbol -->
    <link rel="icon" type="image/x-icon" href="assets/images/RenderersRealm_Icon1.ico" class="pageImage">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    {% block header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}

    <!-- Template Main JS File -->
    <script src="assets/js/main.js?v=1.0" async defer></script>
</body>

</html>